.timeSlot {
    color:white;
}

.timeTable {
    border: #fff 1px solid;
    padding:0px 5px;
    margin:0px 2px;
    -webkit-transition: 2s; /* Safari */
    transition: 2s;
    width:100px;
    height:10px;
}

.timeLabel:nth-child(2n+1) {
    /*color:white;*/
    visibility: hidden;
}

.timeTable:nth-child(4n+2){
    border-top: #BBB 1px solid;
    /*background-color:azure;*/

}
.timeTable.last:nth-child(4n+2), .timeTable.middle:nth-child(4n+2){
    border-top: lightskyblue 1px solid;
//background-color:azure;
}

.first, .last, .middle {
    border: lightblue 1px solid;
    border-left: #2e353d 1px solid;
    border-right: #2e353d 1px solid;
    background-color:lightblue !important;
    color:black;
}

.first {
    border-top: #2e353d 1px solid;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.last {
    border-bottom: #2e353d 1px solid;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}